.newsHeader{
    text-align: left;
}
.newsText{
    text-align: left;

}
.newsDate{
    text-align: right;
    font-style: italic;
    color: grey;

}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

