html {
    background: url('../images/bgimage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Arial, Times, serif;
}

header {
    margin: auto;
    padding: 30px 30px 0px;
    width: 800px;
    text-shadow: 3px 2px #cecece;
}

.topnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Arial, Times, serif;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 3px solid #3CA180;
}

.topnav a {
    float: left;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {

    color: black;
    background-color: #c1f4eb;
}

.topnav a.active {
    background-color:#addbd3;
}

.topnav-right {
    float: right;
}

a {text-decoration: none;
    color: black;
}

.content{
    margin: auto;
    width: 800px;
    padding: 30px;
    background-color:#ffffff;
    border: 3px solid #3CA180;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align:center;
}

.content a:hover{
    color:#3CA180;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 500px;
    margin: auto;
    text-align:center;
    border: 5px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Arial, Times, serif;
    font-size: 30px;
}
.login{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    margin: auto;
    text-align:center;
}

.align-middle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    margin: auto;
    text-align:center;
    font-size: 25px;
}

.middle-relative{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    margin: auto;
    text-align:center;
    font-size: 25px;
    padding: 10px;
}

#registerForm{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    margin: auto;
    text-align:center;
}

.error-message{
    text-align:center;
    background-color: #c75353;
    height: auto;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border: none;
    color: white;
    padding: 5px 0px;
    text-decoration: none;
    opacity: 1;
    font-size: 30px;
    position: relative;
    top: 0px;
}

.success-message{
    background-color: #7AD58E;
    height: auto;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border: none;
    color: white;
    padding: 5px 0px;
    text-decoration: none;
    opacity: 1;
    font-size: 30px;
    position: absolute;
    top: 0px;

}

input[type=text], input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #555;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.bottom-left{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}
.bottom-left-button{
    background-color: #555;

    border: none;
    color: black;
    padding: 0px;
    height: 50px;
    width:50px;
    text-decoration: none;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    cursor: pointer;
    opacity: 0.4;
    font-size: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

.bottom-left-button:hover{
    background-color: #555;
    border: none;
    color: white;
    padding: 0px;
    height: 50px;
    width: 400px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    font-size: 40px;
}

#register{
    height: 650px;
}
::-webkit-scrollbar {
    display: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #e5e5e5 inset;
}

.bottom-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index:0;
}

.bottom-right:hover{
    z-index:1;
}

.bottom-right-button{
    background-color: #555;
    border: none;
    color: black;
    padding: 0px;
    height: 50px;
    width:50px;
    text-decoration: none;
    border-top-left-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    opacity: 0.4;
    font-size: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 0;


}

.bottom-right-button:hover{
    background-color: #555;
    border: none;
    color: white;
    padding: 0px;
    height: 50px;
    width: 400px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    font-size: 40px;
    z-index: 2;
}
#map{
    height:600px;
    width: 600px;
}
#runFormHolder{
    width: 350px;
    font-family: Arial, Times, serif;
    font-size: 20px;
}

#runFormHolder span{
    float: left;

}
#runFormHolder input[type=text], #runFormHolder input[type=password], #runFormHolder input[type=time], #runFormHolder input[type=number], #runFormHolder input[type=date] {
    width:200px;
    padding: 5px 5px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    float: right;

}

#runFormHolder input[type=text]:focus, #runFormHolder input[type=password]:focus, #runFormHolder input[type=time]:focus, #runFormHolder input[type=number]:focus, #runFormHolder input[type=date]:focus {
    border: 1px solid #555;
}



#runFormHolder input[type=button], #runFormHolder input[type=submit], #runFormHolder input[type=reset] {
    background-color: #555;
    border: none;
    color: white;
    margin: 0px;
    padding: 10px 13px;
    text-decoration: none;
    cursor: pointer;
    float: right;
}
#rightHolder{
    float: right;
    display: block;
}
#homeStats{
    width: 350px;
    height: auto;
    font-family: Arial, Times, serif;
    font-size: 25px;
    font-weight: bold;
}
.content-home{
    margin: auto;
    width: 1000px;
    padding: 30px;
    background-color:#ffffff;
    border: 3px solid #3CA180;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align:center;
    height: 700px;
}

.progress-bar-wrapper{
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    margin-top: 50px;
}

.progress-bar{
    height: 100%;
    background-color: #7AD58E;

}